<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>在线用户管理</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all"/>
    <link rel="stylesheet" href="../../../static/css/page/system/session.css" th:href="@{/css/page/system/session.css}"
          media="all"/>
</head>

<body class="childrenBody">

<table class="layui-hidden" id="sessionTable" lay-filter="sessionTable"></table>

<script type="text/html" id="toolsBar" th:inline="text">
    <shiro:hasPermission name="sessions:kickout">
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="kickout">强制下线</a>
    </shiro:hasPermission>
</script>

<script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" src="../../../static/js/page/system/session.js"
        th:src="@{/js/page/system/session.js}"></script>
</body>
</html>